<div class="">
    <div class="form-group">
        <form action="?route=register/store" method="post">
            <label for="name">Имя</label>
            <input type="text" name="name">
            <label for="email">Электронная почта</label>
            <input type="text" name="email">
            <label for="password">Пароль</label>
            <input type="password" name="password">
            <input type="submit" value="Зарегистрировать">
        </form>
    </div>
</div>

