<div class="alert-success">
    <?=$status?>
</div>

<div class="">
<form action="?route=currency/calculate" enctype="multipart/form-data" method="post">
    <div class="form-group">
        <label for="ish" class="form-control">Заданая валюта</label>
        <input placeholder="Введите сумму" name="ish" class="form-control" type="text">
        <select class="form-control" name="form1">
            <option>USD</option>
            <option>EUR</option>
            <option>RUR</option>
            <option>BTC</option>
        </select>
    </div>

    <div class="form-group" style="margin-top: 50px;">
        <label for="form2" class="form-control">Конечная валюта</label>
        <select class="form-control" name="form2">
            <option>USD</option>
            <option>EUR</option>
            <option>RUR</option>
            <option>BTC</option>
        </select>
    </div>
    <button class="btn btn-success" type="submit">Посчитать</button>
</form>
</div>