 <table border="1" width="100%" cellpadding="5">
        <tr><td>Код валюты</td><td>Покупка</td><td>Продажа</td></tr>
        <tr><td>USD</td><td><?=$USDpokupka?></td><td><?=$USDprodazha?></td></tr>
        <tr><td>EUR</td><td><?=$EURpokupka?></td><td><?=$EURprodazha?></td></tr>
        <tr><td>RUR</td><td><?=$RURpokupka?></td><td><?=$RURprodazha?></td></tr>
        <tr><td>BTC</td><td><?=$BTCpokupka?></td><td><?=$BTCprodazha?></td></tr>
 </table>